In [182]:
import requests
import pandas as pd
import json
import re

import warnings;warnings.filterwarnings('ignore')

In [52]:
all_genres = [
    "fiction",
    "fantasy",
    "mystery",
    "romance",
    "thriller",
    "science fiction",
    "history",
    "biography",
    "self-help",
    "poetry",
    "humor",
    "cooking",
    "travel",
    "art",
    "drama",
    "philosophy",
    "religion",
    "comics",
    "music",
    "technology",
        'Fiction , Thrillers , Suspense',
    'Fiction , Fantasy , Epic',
    'Comics & Graphic Novels , Superheroes',
    'Fiction , Mystery & Detective , General',
    'Fiction , Action & Adventure',
    'Fiction , Fantasy , Action & Adventure',
    'Fiction , Fantasy , General',
    'Fiction , Mystery & Detective , Women Sleuths',
    'Fiction , Thrillers , Crime',
    'Comics & Graphic Novels , General',
    'Comics & Graphic Novels , Science Fiction',
    'Business & Economics , Motivational',
    'Fiction , Mystery & Detective , Amateur Sleuth',
    'Fiction , Science Fiction , Action & Adventure',
    'Fiction , Mystery & Detective , Cozy , General',
    'Fiction , Crime',
    'Fiction , Classics',
    'Self-Help , Personal Growth , Success',
    'Business & Economics , General',
    'Fiction , General',
    'Fiction , Mystery & Detective , Private Investigators',
    'Self-Help , Personal Growth , General',
    'Fiction , Mystery & Detective , Police Procedural',
    'Juvenile Fiction , Fantasy & Magic',
    'Fiction , Mystery & Detective , International Mystery & Crime',
    'Comics & Graphic Novels , Fantasy',
    'Fiction , Mystery & Detective , Amateur Sleuth',
    'Fiction , Science Fiction , General',
    'Fiction , Fantasy , Dragons & Mythical Creatures',
    'Fiction , Horror',
    'Fiction , Literary'
]

In [111]:
# Function to search books by genre
def search_books_by_genre(genre, api_key):
    base_url = "https://www.googleapis.com/books/v1/volumes"
    params = {
        "q": f"subject:{genre}",
        "key": api_key
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        book_data = response.json().get("items", [])
        return book_data
    else:
        print(f"Failed to search for {genre}. Error: {response.status_code}")
        return []

api_key = "AIzaSyCyudOK_sDcNZOCazFL584pfjtR6g2IWhc"
output_file = "book_data2.json"

# List to store the book data
book_data_list = []

genres = all_genres
# Iterate through genres and fetch book data
for genre in all_genres:
    book_data = search_books_by_genre(genre, api_key)

    if book_data:
        for item in book_data:
            book_info = {}
            volume_info = item.get("volumeInfo", {})

            # Extract desired columns
            book_info["title"] = volume_info.get("title", None)
            book_info["author"] = volume_info.get("authors", None)
            book_info["rating"] = volume_info.get("averageRating", None)
            book_info["voters"] = volume_info.get("ratingsCount", None)

            sale_info = item.get("saleInfo", {})
            book_info["price"] = sale_info.get("listPrice", {}).get("amount", None)
            book_info["currency"] = sale_info.get("listPrice", {}).get("currencyCode", None)

            book_info["description"] = volume_info.get("description", None)
            book_info["publisher"] = volume_info.get("publisher", None)
            book_info["page_count"] = volume_info.get("pageCount", None)
            book_info["generes"] = volume_info.get("categories", None)
            book_info["ISBN"] = volume_info.get("industryIdentifiers", None)
            book_info["language"] = volume_info.get("language", None)
            book_info["published_date"] = volume_info.get("publishedDate", None)
            book_info["genre"] = genre

            book_data_list.append(book_info)

# Create a DataFrame from the book data
df = pd.DataFrame(book_data_list)

# Save the book data to a JSON file
with open(output_file, "w") as f:
    json.dump(book_data_list, f, indent=4)

print("Book data saved to", output_file)

Book data saved to book_data2.json

### First Data

In [173]:
df = pd.DataFrame(book_data_list)

In [174]:
df.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date,genre
0,La Chartreuse De Parme,[Stendhal],NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,629.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368304...",en,2022-09-28,fiction
1,"Erewhon; Or, Over the Range",[Samuel Butler],NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,302.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368314...",en,2022-10-31,fiction
2,Heart Bones,[Colleen Hoover],NaN,NaN,None,None,Ung kærlighed med udfordringer i rørende Colle...,Lindhardt og Ringhof,309.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9788727012...",da,2023-02-15,fiction
3,The Power of Movement in Plants,[Charles Darwin],NaN,NaN,None,None,"Reprint of the original, first published in 1898.",BoD – Books on Demand,605.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368272...",en,2022-10-03,fiction
4,Babbitt,[Sinclair Lewis],NaN,NaN,None,None,A Novel that Stood the Test of Time “But I do ...,Xist Publishing,434.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9781681951...",en,2015-08-07,fiction

In [175]:
# Extract ISBN_13 identifier
df['ISBN_13'] = df['ISBN'].apply(lambda x: next((item['identifier'] for item in x if item['type'] == 'ISBN_13'), None) if x else None)

# Drop the original 'ISBN' column
df.drop(columns=['ISBN', 'generes'], inplace=True)

# Dictionary mapping language codes to meanings
language_mapping = {
    'en': 'English',
    'da': 'Danish',
    'de': 'German',
    'ru': 'Russian',
    'pt-BR': 'Portuguese (Brazil)'
}

# Map language codes to meanings
df['language'] = df['language'].map(language_mapping)

# extract names from author col
df['author'] = df['author'].astype('str')
df['author'] = df['author'].str.extract(r'\[(.*?)\]', expand=False)
df['author'] = df['author'].str.strip("'")

In [177]:
df.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,La Chartreuse De Parme,Stendhal,NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,629.0,English,2022-09-28,fiction,9783368304492
1,"Erewhon; Or, Over the Range",Samuel Butler,NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,302.0,English,2022-10-31,fiction,9783368314804
2,Heart Bones,Colleen Hoover,NaN,NaN,None,None,Ung kærlighed med udfordringer i rørende Colle...,Lindhardt og Ringhof,309.0,Danish,2023-02-15,fiction,9788727012858
3,The Power of Movement in Plants,Charles Darwin,NaN,NaN,None,None,"Reprint of the original, first published in 1898.",BoD – Books on Demand,605.0,English,2022-10-03,fiction,9783368272722
4,Babbitt,Sinclair Lewis,NaN,NaN,None,None,A Novel that Stood the Test of Time “But I do ...,Xist Publishing,434.0,English,2015-08-07,fiction,9781681951737

### Second Data

In [178]:
df1 = pd.read_csv('google_books_1299.csv', index_col=0)
df1.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,"Jul 31, 2014"
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,"Jul 1, 2007"
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,"Nov 5, 2019"
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,"Mar 1, 2009"
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,"Jan 8, 2009"

In [179]:
# rename column
df1 = df1.rename(columns={'generes': 'genre', 'ISBN': 'ISBN_13'})

# Function to handle date conversion
def convert_to_date(date_str):
    try:
        # Try converting using the expected format
        return pd.to_datetime(date_str).strftime('%Y-%m-%d')
    except ValueError:
        try:
            # Try converting assuming a different format
            return pd.to_datetime(date_str, format='%Y').strftime('%Y-%m-%d')
        except ValueError:
            print("Unable to convert:", date_str)
            return None

# Apply the conversion function to the 'published_date' column
df1['published_date'] = df1['published_date'].apply(convert_to_date)

Unable to convert: 186
Unable to convert: 186

In [180]:
df1.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,genre,ISBN_13,language,published_date
0,Attack on Titan: Volume 13,Hajime Isayama,4.6,428,43.28,SAR,NO SAFE PLACE LEFT At great cost to the Garris...,Kodansha Comics,192,none,9781612626864,English,2014-07-31
1,Antiques Roadkill: A Trash 'n' Treasures Mystery,Barbara Allan,3.3,23,26.15,SAR,Determined to make a new start in her quaint h...,Kensington Publishing Corp.,288,"Fiction , Mystery &amp, Detective , Cozy , Gen...",9780758272799,English,2007-07-01
2,The Art of Super Mario Odyssey,Nintendo,3.9,9,133.85,SAR,Take a globetrotting journey all over the worl...,Dark Horse Comics,368,"Games &amp, Activities , Video &amp, Electronic",9781506713816,English,2019-11-05
3,Getting Away Is Deadly: An Ellie Avery Mystery,Sara Rosett,4.0,10,26.15,SAR,"With swollen feet and swelling belly, pregnant...",Kensington Publishing Corp.,320,none,9781617734076,English,2009-03-01
4,"The Painted Man (The Demon Cycle, Book 1)",Peter V. Brett,4.5,577,28.54,SAR,The stunning debut fantasy novel from author P...,HarperCollins UK,544,"Fiction , Fantasy , Dark Fantasy",9780007287758,English,2009-01-08

### Third Data

In [194]:
genres_use = ['Fiction , Thrillers , Suspense',
 'Fiction , Fantasy , Epic',
 'Comics &amp, Graphic Novels , Superheroes',
 'Fiction , Mystery &amp, Detective , General',
 'Fiction , Action &amp, Adventure',
 'Fiction , Fantasy , Action &amp, Adventure',
 'Fiction , Fantasy , General',
 'Fiction , Mystery &amp, Detective , Women Sleuths',
 'Fiction , Thrillers , Crime',
 'Comics & Graphic Novels , General',
 'Comics & Graphic Novels , Science Fiction',
 'Business &amp, Economics , Motivational',
 'Fiction , Mystery &amp, Detective , Amateur Sleuth',
 'Fiction , Science Fiction , Action &amp, Adventure',
 'Fiction , Mystery &amp, Detective , Cozy , General',
 'Fiction , Crime',
 'Fiction , Classics',
 'Self-Help , Personal Growth , Success',
 'Business &amp, Economics , General',
 'Fiction , General',
 'Fiction , Mystery &amp, Detective , Private Investigators',
 'Self-Help , Personal Growth , General',
 'Fiction , Mystery &amp, Detective , Police Procedural',
 'Juvenile Fiction , Fantasy &amp, Magic',
 'Fiction , Mystery &amp, Detective , International Mystery &amp, Crime',
 'Comics & Graphic Novels , Fantasy',
 'Fiction , Mystery & Detective , Amateur Sleuth',
 'Fiction , Science Fiction , General',
 'Fiction , Fantasy , Dragons &amp, Mythical Creatures',
 'Fiction , Horror',
 'Fiction , Literary',
 'Business & Economics , Mentoring & Coaching',
 'Fiction , Mystery &amp, Detective , Traditional',
 'Fiction , Thrillers , General',
 'Fiction , Fantasy , Dark Fantasy',
 'Fiction , Action & Adventure',
 'Fiction , Thrillers , Psychological',
 'Business &amp, Economics , Personal Finance , General',
 'Juvenile Fiction , Science Fiction',
 'Business &amp, Economics , Personal Success',
 'Comics & Graphic Novels , Superheroes',
 'Fiction , Mystery & Detective , General',
 'Fiction , Psychological',
 'Self-Help , Motivational &amp, Inspirational',
 'Business & Economics , Accounting , General',
 'Self-Help , General',
 'Business &amp, Economics , Leadership',
 'Business &amp, Economics , Personal Finance , Investing',
 'Self-Help , Personal Growth , Self-Esteem',
 'Business &amp, Economics , Management',
 'Psychology , Social Psychology',
 'Fiction , Science Fiction , Space Opera',
 'Fiction , Dystopian',
 'Psychology , General',
 'Business &amp, Economics , Entrepreneurship',
 'Fiction , Fantasy , Military',
 'Business &amp, Economics , Decision-Making &amp, Problem Solving',
 'Fiction , Media Tie-In',
 'Fiction , Women',
 'Juvenile Fiction , Humorous Stories',
 'Business &amp, Economics , Finance , General',
 'Fiction , Thrillers , Legal',
 'Business &amp, Economics , Economics , General',
 'Social Science , Sociology , General',
 'Fiction , Fantasy , Collections &amp, Anthologies',
 'Juvenile Fiction , General',
 'Body, Mind &amp, Spirit , Inspiration &amp, Personal Growth',
 'Self-Help , Communication &amp, Social Skills',
 'Business &amp, Economics , Workplace Culture',
 'Fiction , Thrillers , Supernatural',
 'Biography &amp, Autobiography , Personal Memoirs',
 'Humor , General',
 'Psychology , Cognitive Psychology &amp, Cognition',
 'Fiction , Fantasy , Urban',
 'Business &amp, Economics , Time Management',
 'Biography &amp, Autobiography , Entertainment &amp, Performing Arts',
 'Fiction , Fantasy , Paranormal',
 'Fiction , Fairy Tales, Folk Tales, Legends &amp, Mythology',
 'Psychology , Neuropsychology',
 'Business &amp, Economics , Budgeting',
 'Business &amp, Economics , Consumer Behavior',
 'Fiction , War &amp, Military',
 'Fiction , Science Fiction , Alien Contact',
 'Fiction , Thrillers , Political',
 'Self-Help , Self-Management , Stress Management',
 'Comics & Graphic Novels , Horror',
 'Business &amp, Economics , Accounting , Managerial',
 'Family &amp, Relationships , Friendship',
 'Young Adult Fiction , Fantasy , Epic',
 'Business &amp, Economics , Accounting , Financial',
 'Philosophy , General',
 'Fiction , Mystery &amp, Detective , Hard-Boiled',
 'Business &amp, Economics , Reference',
 'Business &amp, Economics , Marketing , General',
 'Business &amp, Economics , Industries , Computers &amp, Information Technology',
 'Fiction , Thrillers , Military',
 'Games &amp, Activities , Video &amp, Electronic',
 'Business &amp, Economics , Economics , Theory',
 'Business &amp, Economics , Careers , General',
 'Business &amp, Economics , Industries , Entertainment',
 'Biography &amp, Autobiography , Rich &amp, Famous',
 'Poetry , European , none, Irish, Scottish, Welsh',
 'Business &amp, Economics , Human Resources &amp, Personnel Management',
 'Social Science , Criminology',
 'Performing Arts , Television , Genres , Comedy',
 'Humor , Form , Comic Strips &amp, Cartoons',
 'Medical , General',
 'Psychology , Mental Health',
 'Computers , Information Technology',
 'Business &amp, Economics , Business Mathematics',
 'Juvenile Fiction , Action &amp, Adventure , General',
 'Juvenile Nonfiction , Curiosities &amp, Wonders',
 'Computers , Data Processing',
 'Philosophy , History &amp, Surveys , Modern',
 'Social Science , General',
 'Comics &amp, Graphic Novels , Horror',
 'Sports &amp, Recreation , General',
 'Body, Mind &amp, Spirit , New Thought',
 'Science , Global Warming &amp, Climate Change',
 'Fiction , Thrillers , Terrorism',
 'Young Adult Fiction , Fantasy , Dark Fantasy',
 'Humor , Topic , Celebrity &amp, Popular Culture',
 'Political Science , Essays',
 'Fiction , Animals',
 'Business &amp, Economics , Strategic Planning',
 'Social Science , Essays',
 'Political Science , Political Ideologies , General',
 'Biography &amp, Autobiography , Sports',
 'Biography &amp, Autobiography , Medical (incl. Patients)',
 'Fiction , Small Town &amp, Rural',
 'Business &amp, Economics , Customer Relations',
 'Fiction , Mystery &amp, Detective , Historical',
 'Fiction , Mystery &amp, Detective , Collections &amp, Anthologies',
 'Computers , Web , Social Media',
 'Family &amp, Relationships , Life Stages , School Age',
 'Juvenile Fiction , Social Themes , Friendship',
 'Business &amp, Economics , Corporate &amp, Business History',
 'Computers , Desktop Applications , General',
 'Humor , Topic , Business &amp, Professional',
 'Self-Help , Personal Growth , Happiness',
 'Young Adult Fiction , Humorous , General',
 'Fiction , Satire',
 'Biography &amp, Autobiography , LGBT',
 'Art , Video Game Art',
 'Performing Arts , Theater , General',
 'Cooking , Courses &amp, Dishes , Cookies',
 'Business &amp, Economics , E-Commerce , Internet Marketing',
 'Business &amp, Economics , Accounting , General',
 'Music , Genres &amp, Styles , Musicals',
 'Juvenile Fiction , Comics &amp, Graphic Novels , General',
 'Business &amp, Economics , Investments &amp, Securities , Stocks',
 'Comics &amp, Graphic Novels , Media Tie-In',
 'Fiction , Coming of Age',
 'Business &amp, Economics , Development , Business Development',
 'Biography &amp, Autobiography , Social Activists',
 'Young Adult Fiction , Science Fiction , Alien Contact',
 'Computers , Software Development &amp, Engineering , General',
 'Business &amp, Economics , Personal Finance , Money Management',
 'Fiction , Science Fiction , Humorous',
 'Fiction , Alternative History',
 'Biography &amp, Autobiography , Business',
 'Poetry , American , General',
 'Young Adult Fiction , Fairy Tales &amp, Folklore , General',
 'Business &amp, Economics , Organizational Development',
 'Business &amp, Economics , Business Communication , Meetings &amp, Presentations',
 'True Crime , Organized Crime',
 'Social Science , Feminism &amp, Feminist Theory',
 'Philosophy , History &amp, Surveys , General',
 'Business &amp, Economics , E-Commerce , General',
 'Fiction , Noir',
 'Biography &amp, Autobiography , Military',
 'Computers , Electronic Commerce',
 'Business &amp, Economics , Training',
 'Computers , System Administration , Storage &amp, Retrieval',
 'Biography &amp, Autobiography , Literary Figures',
 'Self-Help , Emotions',
 'Medical , Internal Medicine',
 'Fiction , LGBT , Gay',
 'Self-Help , Self-Management , General',
 'Social Science , Gender Studies',
 'Fiction , Thrillers , Espionage',
 'History , Military , Strategy',
 'Nature , Environmental Conservation &amp, Protection',
 'Poetry , General',
 'Business &amp, Economics , New Business Enterprises',
 'Art , Popular Culture',
 'Business &amp, Economics , Business Communication , General',
 'Business &amp, Economics , Marketing , Multilevel',
 'Business &amp, Economics , Management Science',
 'Health &amp, Fitness , Healthy Living',
 'Psychology , Emotions',
 'Comics &amp, Graphic Novels , Nonfiction',
 'Psychology , Creative Ability',
 'Business &amp, Economics , Advertising &amp, Promotion',
 'History , Military , General',
 'True Crime , General',
 'Philosophy , Movements , General',
 'Technology &amp, Engineering , General',
 'Business &amp, Economics , Conflict Resolution &amp, Mediation',
 'Business &amp, Economics , Organizational Behavior',
 'Comics &amp, Graphic Novels , Manga , Science Fiction',
 'Biography &amp, Autobiography , Historical',
 'Comics &amp, Graphic Novels , Manga , General',
 'Cooking , General',
 'Fiction , Humorous , General',
 'Fiction , Thrillers , Domestic',
 'Biography &amp, Autobiography , Environmentalists &amp, Naturalists',
 'Comics &amp, Graphic Novels , Fantasy',
 'Business &amp, Economics , Corporate Finance , General',
 'Family &amp, Relationships , General',
 'Business &amp, Economics , E-Commerce , Online Trading',
 'Fiction , Thrillers , Technological',
 'Business &amp, Economics , Industries , General',
 'Fiction , Family Life , General',
 'Fiction , Short Stories (single author)',
 'Young Adult Fiction , Animals , Mythical Creatures',
 'Young Adult Fiction , Family , General',
 'Literary Collections , Letters',
 'Cooking , Methods , Baking',
 'Body, Mind &amp, Spirit , General',
 'Self-Help , Self-Management , Time Management',
 'Literary Criticism , General',
 'Psychology , Interpersonal Relations',
 'Business &amp, Economics , Skills',
 'Psychology , Physiological Psychology',
 'Comics &amp, Graphic Novels , Humorous',
 'Psychology , Movements , Psychoanalysis',
 'Business &amp, Economics , Personal Finance , Budgeting',
 'Political Science , Civics &amp, Citizenship',
 'History , Modern , 20th Century',
 'Sports &amp, Recreation , Soccer',
 'Drama , Shakespeare',
 'Fiction , Fantasy , Contemporary',
 'Business &amp, Economics , Public Finance',
 'Business &amp, Economics , Sales &amp, Selling , General',
 'Business &amp, Economics , Information Management',
 'Biography &amp, Autobiography , Science &amp, Technology',
 'Political Science , Public Affairs &amp, Administration',
 'Cooking , Holiday',
 'Social Science , Popular Culture',
 'Medical , Health Care Delivery']

In [195]:
# Function to search books by genre
def search_books_by_genre(genre, api_key):
    base_url = "https://www.googleapis.com/books/v1/volumes"
    params = {
        "q": f"subject:{genre}",
        "key": api_key
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        book_data = response.json().get("items", [])
        return book_data
    else:
        print(f"Failed to search for {genre}. Error: {response.status_code}")
        return []

api_key = "AIzaSyCyudOK_sDcNZOCazFL584pfjtR6g2IWhc"
output_file = "book_data.json"

# List to store the book data
book_data_list = []

genres = genres_use
# Iterate through genres and fetch book data
for genre in genres_use:
    book_data = search_books_by_genre(genre, api_key)

    if book_data:
        for item in book_data:
            book_info = {}
            volume_info = item.get("volumeInfo", {})

            # Extract desired columns
            book_info["title"] = volume_info.get("title", None)
            book_info["author"] = volume_info.get("authors", None)
            book_info["rating"] = volume_info.get("averageRating", None)
            book_info["voters"] = volume_info.get("ratingsCount", None)

            sale_info = item.get("saleInfo", {})
            book_info["price"] = sale_info.get("listPrice", {}).get("amount", None)
            book_info["currency"] = sale_info.get("listPrice", {}).get("currencyCode", None)

            book_info["description"] = volume_info.get("description", None)
            book_info["publisher"] = volume_info.get("publisher", None)
            book_info["page_count"] = volume_info.get("pageCount", None)
            book_info["generes"] = volume_info.get("categories", None)
            book_info["ISBN"] = volume_info.get("industryIdentifiers", None)
            book_info["language"] = volume_info.get("language", None)
            book_info["published_date"] = volume_info.get("publishedDate", None)
            book_info["genre"] = genre

            book_data_list.append(book_info)

# Create a DataFrame from the book data
df_exp = pd.DataFrame(book_data_list)

# Save the book data to a JSON file
with open(output_file, "w") as f:
    json.dump(book_data_list, f, indent=4)

print("Book data saved to", output_file)

Book data saved to book_data.json

In [207]:
df_exp.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date,genre
0,Violent Echoes (A Dark Psychological Thriller),[Marc Sloane],NaN,NaN,None,None,"Danny Boggs wasn't always a killer, but late o...",Marc Sloane,175.0,[Fiction],None,en,2015-04-28,"Fiction , Thrillers , Suspense"
1,Suspense Books,"[I.G. Harding, suspense books]",NaN,NaN,None,None,"""Wow, what an amazing and Entertaining Book; g...",suspense books,NaN,[Young Adult Fiction],None,en,2017-01-09,"Fiction , Thrillers , Suspense"
2,Schizoid: A Psycho-medical Thriller of Heart-s...,[Johan Fundin],NaN,NaN,None,None,An eccentric scientist turned novelist gets lo...,None,364.0,[Fiction],"[{'type': 'ISBN_10', 'identifier': '1999981723...",en,2019-11-26,"Fiction , Thrillers , Suspense"
3,Platinum,[Elise Noble],NaN,NaN,None,None,After a run-in with her new boss costs junior ...,Undercover Publishing Limited,239.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9781910954...",en,2018-11-15,"Fiction , Thrillers , Suspense"
4,Closure: A Javin Pierce Spy Thriller,[Ethan Jones],4.0,1.0,None,None,Covert operative Javin Pierce will avenge his ...,Knightsville Books,235.0,[Fiction],None,en,2018-05-01,"Fiction , Thrillers , Suspense"

In [208]:
# Extract ISBN_13 identifier
df_exp['ISBN_13'] = df_exp['ISBN'].apply(lambda x: next((item['identifier'] for item in x if item['type'] == 'ISBN_13'), None) if x else None)

# Drop the original 'ISBN' column
df_exp.drop(columns=['ISBN', 'generes'], inplace=True)

# Dictionary mapping language codes to meanings
language_mapping = {
    'en': 'English',
    'pt-BR': 'Portuguese (Brazil)',
    'de': 'German',
    'es': 'Spanish',
    'ru': 'Russian'
}

# Map language codes to meanings
df_exp['language'] = df_exp['language'].map(language_mapping)

# extract names from author col
df_exp['author'] = df_exp['author'].astype('str')
df_exp['author'] = df_exp['author'].str.extract(r'\[(.*?)\]', expand=False)
df_exp['author'] = df_exp['author'].str.strip("'")

In [209]:
df_exp.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,Violent Echoes (A Dark Psychological Thriller),Marc Sloane,NaN,NaN,None,None,"Danny Boggs wasn't always a killer, but late o...",Marc Sloane,175.0,English,2015-04-28,"Fiction , Thrillers , Suspense",None
1,Suspense Books,"I.G. Harding', 'suspense books",NaN,NaN,None,None,"""Wow, what an amazing and Entertaining Book; g...",suspense books,NaN,English,2017-01-09,"Fiction , Thrillers , Suspense",None
2,Schizoid: A Psycho-medical Thriller of Heart-s...,Johan Fundin,NaN,NaN,None,None,An eccentric scientist turned novelist gets lo...,None,364.0,English,2019-11-26,"Fiction , Thrillers , Suspense",9781999981723
3,Platinum,Elise Noble,NaN,NaN,None,None,After a run-in with her new boss costs junior ...,Undercover Publishing Limited,239.0,English,2018-11-15,"Fiction , Thrillers , Suspense",9781910954898
4,Closure: A Javin Pierce Spy Thriller,Ethan Jones,4.0,1.0,None,None,Covert operative Javin Pierce will avenge his ...,Knightsville Books,235.0,English,2018-05-01,"Fiction , Thrillers , Suspense",None

### Fourth Data

In [218]:
google_genres = [
    "Fiction",
    "Non-Fiction",
    "Science Fiction",
    "Fantasy",
    "Mystery",
    "Thriller",
    "Romance",
    "Historical Fiction",
    "Biography",
    "Autobiography",
    "Self-Help",
    "Cooking",
    "Travel",
    "Science",
    "History",
    "Art",
    "Business",
    "Poetry",
    "Drama",
    "Comics & Graphic Novels",
    "Children's",
    "Religion",
    "Philosophy",
    "Music",
    "Sports",
    "Health & Fitness",
    "Technology",
    "Education",
    "Psychology",
    "Humor",
    "Horror",
    "Adventure",
    "Crime",
    "Western",
    "Young Adult",
    "Graphic Novels",
    "Short Stories",
    "Essays",
    "Satire",
    "Fairy Tales",
    "Classic",
    "Biography & Memoir",
    "Politics",
    "True Crime",
    "LGBTQ+",
    "Parenting",
    "Sociology",
    "Nature",
    "Economics",
    "Military",
    "Anthology",
    "Science & Nature",
    "Art & Photography",
    "Health and Wellness",
    "Crafts & Hobbies",
    "DIY",
    "Architecture",
    "Environment",
    "Medicine",
    "Technology & Engineering",
    "Mathematics",
    "Relationships",
    "Reference",
    "Comics & Graphic Novels - Manga",
    "Comics & Graphic Novels - Superheroes",
    "Comics & Graphic Novels - Fantasy",
    "Comics & Graphic Novels - Horror",
    "Comics & Graphic Novels - Historical Fiction",
    "Comics & Graphic Novels - Mystery & Crime",
    "Comics & Graphic Novels - Romance",
    "Comics & Graphic Novels - Science Fiction",
    "Comics & Graphic Novels - Thriller",
    "Comics & Graphic Novels - Western"
]

In [219]:
# Function to search books by genre
def search_books_by_genre(genre, api_key):
    base_url = "https://www.googleapis.com/books/v1/volumes"
    params = {
        "q": f"subject:{genre}",
        "key": api_key
    }

    response = requests.get(base_url, params=params)

    if response.status_code == 200:
        book_data = response.json().get("items", [])
        return book_data
    else:
        print(f"Failed to search for {genre}. Error: {response.status_code}")
        return []

api_key = "AIzaSyCyudOK_sDcNZOCazFL584pfjtR6g2IWhc"
output_file = "book_data3.json"

# List to store the book data
book_data_list = []

genres = google_genres
# Iterate through genres and fetch book data
for genre in google_genres:
    book_data = search_books_by_genre(genre, api_key)

    if book_data:
        for item in book_data:
            book_info = {}
            volume_info = item.get("volumeInfo", {})

            # Extract desired columns
            book_info["title"] = volume_info.get("title", None)
            book_info["author"] = volume_info.get("authors", None)
            book_info["rating"] = volume_info.get("averageRating", None)
            book_info["voters"] = volume_info.get("ratingsCount", None)

            sale_info = item.get("saleInfo", {})
            book_info["price"] = sale_info.get("listPrice", {}).get("amount", None)
            book_info["currency"] = sale_info.get("listPrice", {}).get("currencyCode", None)

            book_info["description"] = volume_info.get("description", None)
            book_info["publisher"] = volume_info.get("publisher", None)
            book_info["page_count"] = volume_info.get("pageCount", None)
            book_info["generes"] = volume_info.get("categories", None)
            book_info["ISBN"] = volume_info.get("industryIdentifiers", None)
            book_info["language"] = volume_info.get("language", None)
            book_info["published_date"] = volume_info.get("publishedDate", None)
            book_info["genre"] = genre

            book_data_list.append(book_info)

# Create a DataFrame from the book data
df_exp2 = pd.DataFrame(book_data_list)

# Save the book data to a JSON file
with open(output_file, "w") as f:
    json.dump(book_data_list, f, indent=4)

print("Book data saved to", output_file)

Book data saved to book_data3.json

In [220]:
df_exp2.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,generes,ISBN,language,published_date,genre
0,La Chartreuse De Parme,[Stendhal],NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,629.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368304...",en,2022-09-28,Fiction
1,"Erewhon; Or, Over the Range",[Samuel Butler],NaN,NaN,None,None,Reproduction of the original.,BoD – Books on Demand,302.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368314...",en,2022-10-31,Fiction
2,Heart Bones,[Colleen Hoover],NaN,NaN,None,None,Ung kærlighed med udfordringer i rørende Colle...,Lindhardt og Ringhof,309.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9788727012...",da,2023-02-15,Fiction
3,The Power of Movement in Plants,[Charles Darwin],NaN,NaN,None,None,"Reprint of the original, first published in 1898.",BoD – Books on Demand,605.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9783368272...",en,2022-10-03,Fiction
4,Babbitt,[Sinclair Lewis],NaN,NaN,None,None,A Novel that Stood the Test of Time “But I do ...,Xist Publishing,434.0,[Fiction],"[{'type': 'ISBN_13', 'identifier': '9781681951...",en,2015-08-07,Fiction

In [222]:
df_exp2.language.unique()

array(['en', 'da', 'es', 'de', 'ja', 'pt-BR', 'hi', 'fr', 'ar', 'ru'],
      dtype=object)

In [223]:
# Extract ISBN_13 identifier
df_exp2['ISBN_13'] = df_exp2['ISBN'].apply(lambda x: next((item['identifier'] for item in x if item['type'] == 'ISBN_13'), None) if x else None)

# Drop the original 'ISBN' column
df_exp2.drop(columns=['ISBN', 'generes'], inplace=True)

# Dictionary mapping language codes to meanings
language_mapping = {
    'en': 'English',
    'da': 'Danish',
    'es': 'Spanish',
    'de': 'German',
    'ja': 'Japanese',
    'pt-BR': 'Portuguese (Brazil)',
    'hi': 'Hindi',
    'fr': 'French',
    'ar': 'Arabic',
    'ru': 'Russian'
}

# Map language codes to meanings
df_exp2['language'] = df_exp2['language'].map(language_mapping)

# extract names from author col
df_exp2['author'] = df_exp2['author'].astype('str')
df_exp2['author'] = df_exp2['author'].str.extract(r'\[(.*?)\]', expand=False)
df_exp2['author'] = df_exp2['author'].str.strip("'")

In [224]:
df_exp.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,Violent Echoes (A Dark Psychological Thriller),Marc Sloane,NaN,NaN,None,None,"Danny Boggs wasn't always a killer, but late o...",Marc Sloane,175.0,English,2015-04-28,"Fiction , Thrillers , Suspense",None
1,Suspense Books,"I.G. Harding', 'suspense books",NaN,NaN,None,None,"""Wow, what an amazing and Entertaining Book; g...",suspense books,NaN,English,2017-01-09,"Fiction , Thrillers , Suspense",None
2,Schizoid: A Psycho-medical Thriller of Heart-s...,Johan Fundin,NaN,NaN,None,None,An eccentric scientist turned novelist gets lo...,None,364.0,English,2019-11-26,"Fiction , Thrillers , Suspense",9781999981723
3,Platinum,Elise Noble,NaN,NaN,None,None,After a run-in with her new boss costs junior ...,Undercover Publishing Limited,239.0,English,2018-11-15,"Fiction , Thrillers , Suspense",9781910954898
4,Closure: A Javin Pierce Spy Thriller,Ethan Jones,4.0,1.0,None,None,Covert operative Javin Pierce will avenge his ...,Knightsville Books,235.0,English,2018-05-01,"Fiction , Thrillers , Suspense",None

### Joint Data

In [228]:
# Concatenate the all dataframes
df_all = pd.concat([df, df1, df_exp, df_exp2], ignore_index=True)

# Drop duplicates based on ISBN_13
df_all.drop_duplicates(subset='ISBN_13', inplace=True)

df_all.reset_index(drop=True, inplace=True)

# Convert to title case
for col in ['title', 'author', 'description', 'publisher', 'language', 'genre']:
  df_all[col] = df_all[col].str.title()

df_all.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,La Chartreuse De Parme,Stendhal,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,629.0,English,2022-09-28,Fiction,9783368304492
1,"Erewhon; Or, Over The Range",Samuel Butler,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,302.0,English,2022-10-31,Fiction,9783368314804
2,Heart Bones,Colleen Hoover,NaN,NaN,NaN,None,Ung Kærlighed Med Udfordringer I Rørende Colle...,Lindhardt Og Ringhof,309.0,Danish,2023-02-15,Fiction,9788727012858
3,The Power Of Movement In Plants,Charles Darwin,NaN,NaN,NaN,None,"Reprint Of The Original, First Published In 1898.",Bod – Books On Demand,605.0,English,2022-10-03,Fiction,9783368272722
4,Babbitt,Sinclair Lewis,NaN,NaN,NaN,None,A Novel That Stood The Test Of Time “But I Do ...,Xist Publishing,434.0,English,2015-08-07,Fiction,9781681951737

In [229]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2046 entries, 0 to 2045
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2046 non-null   object
 1   author          2019 non-null   object
 2   rating          682 non-null    float64
 3   voters          682 non-null    object
 4   price           227 non-null    float64
 5   currency        227 non-null    object
 6   description     1965 non-null   object
 7   publisher       1879 non-null   object
 8   page_count      1997 non-null   float64
 9   language        2046 non-null   object
 10  published_date  2039 non-null   object
 11  genre           2046 non-null   object
 12  ISBN_13         2045 non-null   object
dtypes: float64(3), object(10)
memory usage: 207.9+ KB

In [242]:
df_all.isnull().sum()

title                0
author              27
rating            1364
voters            1364
price             1819
currency          1819
description         81
publisher          167
page_count          49
language             0
published_date       7
genre                0
ISBN_13              1
dtype: int64

In [243]:
df_all[df_all.duplicated(keep=False)]

Empty DataFrame
Columns: [title, author, rating, voters, price, currency, description, publisher, page_count, language, published_date, genre, ISBN_13]
Index: []

In [240]:
df_all.to_csv('book_data_all.csv', index=False)
print('Export to CSV successful')

Export to CSV successful

In [245]:
# Concatenate the all dataframes
rubbish = pd.concat([df, df1, df_exp, df_exp2], ignore_index=True)

# Convert to title case
for col in ['title', 'author', 'description', 'publisher', 'language', 'genre']:
    rubbish[col] = rubbish[col].str.title()

rubbish.head()

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,La Chartreuse De Parme,Stendhal,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,629.0,English,2022-09-28,Fiction,9783368304492
1,"Erewhon; Or, Over The Range",Samuel Butler,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,302.0,English,2022-10-31,Fiction,9783368314804
2,Heart Bones,Colleen Hoover,NaN,NaN,NaN,None,Ung Kærlighed Med Udfordringer I Rørende Colle...,Lindhardt Og Ringhof,309.0,Danish,2023-02-15,Fiction,9788727012858
3,The Power Of Movement In Plants,Charles Darwin,NaN,NaN,NaN,None,"Reprint Of The Original, First Published In 1898.",Bod – Books On Demand,605.0,English,2022-10-03,Fiction,9783368272722
4,Babbitt,Sinclair Lewis,NaN,NaN,NaN,None,A Novel That Stood The Test Of Time “But I Do ...,Xist Publishing,434.0,English,2015-08-07,Fiction,9781681951737

In [247]:
rubbish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4357 entries, 0 to 4356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           4357 non-null   object
 1   author          4287 non-null   object
 2   rating          1936 non-null   float64
 3   voters          1936 non-null   object
 4   price           1299 non-null   float64
 5   currency        1299 non-null   object
 6   description     3995 non-null   object
 7   publisher       3872 non-null   object
 8   page_count      4236 non-null   float64
 9   language        4357 non-null   object
 10  published_date  4306 non-null   object
 11  genre           4357 non-null   object
 12  ISBN_13         3632 non-null   object
dtypes: float64(3), object(10)
memory usage: 442.6+ KB

In [248]:
rubbish.isnull().sum()

title                0
author              70
rating            2421
voters            2421
price             3058
currency          3058
description        362
publisher          485
page_count         121
language             0
published_date      51
genre                0
ISBN_13            725
dtype: int64

In [249]:
rubbish[rubbish.duplicated(keep=False)]

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
0,La Chartreuse De Parme,Stendhal,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,629.0,English,2022-09-28,Fiction,9783368304492
1,"Erewhon; Or, Over The Range",Samuel Butler,NaN,NaN,NaN,None,Reproduction Of The Original.,Bod – Books On Demand,302.0,English,2022-10-31,Fiction,9783368314804
2,Heart Bones,Colleen Hoover,NaN,NaN,NaN,None,Ung Kærlighed Med Udfordringer I Rørende Colle...,Lindhardt Og Ringhof,309.0,Danish,2023-02-15,Fiction,9788727012858
3,The Power Of Movement In Plants,Charles Darwin,NaN,NaN,NaN,None,"Reprint Of The Original, First Published In 1898.",Bod – Books On Demand,605.0,English,2022-10-03,Fiction,9783368272722
4,Babbitt,Sinclair Lewis,NaN,NaN,NaN,None,A Novel That Stood The Test Of Time “But I Do ...,Xist Publishing,434.0,English,2015-08-07,Fiction,9781681951737
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4032,The Devil'S Dictionary,Ambrose Bierce,4.0,16.0,NaN,None,Bierce'S Classic Work Of Satirical Wit And Ste...,Bloomsbury Publishing Usa,192.0,English,2010-10-01,Humor,9781608196029
4110,The New Comparative Method,Steven Swann Jones,NaN,NaN,NaN,None,None,None,144.0,English,1990,Fairy Tales,None
4111,The New Comparative Method,Steven Swann Jones,NaN,NaN,NaN,None,None,None,144.0,English,1990,Fairy Tales,None
4114,Märchen Und Schöpfung,Ursula Heindrichs,NaN,NaN,NaN,None,None,None,256.0,German,1993,Fairy Tales,None
4115,Märchen Und Schöpfung,Ursula Heindrichs,NaN,NaN,NaN,None,None,None,256.0,German,1993,Fairy Tales,None

In [251]:
# Drop duplicate rows based on all columns
rubbish_new = rubbish.drop_duplicates(keep=False)
rubbish_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3153 entries, 9 to 4356
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3153 non-null   object
 1   author          3095 non-null   object
 2   rating          1164 non-null   float64
 3   voters          1164 non-null   object
 4   price           705 non-null    float64
 5   currency        705 non-null    object
 6   description     2852 non-null   object
 7   publisher       2741 non-null   object
 8   page_count      3058 non-null   float64
 9   language        3153 non-null   object
 10  published_date  3112 non-null   object
 11  genre           3153 non-null   object
 12  ISBN_13         2577 non-null   object
dtypes: float64(3), object(10)
memory usage: 344.9+ KB

In [252]:
rubbish_new[rubbish_new.duplicated(keep=False)]

Empty DataFrame
Columns: [title, author, rating, voters, price, currency, description, publisher, page_count, language, published_date, genre, ISBN_13]
Index: []

In [256]:
rubbish_new[rubbish_new.duplicated(subset='ISBN_13', keep=False)]

,title,author,rating,voters,price,currency,description,publisher,page_count,language,published_date,genre,ISBN_13
9,Parnassus On Wheels,Christopher Morley,4.0,54.0,NaN,None,Parnassus On Wheels Is An Incredible Story Of ...,Digicat,103.0,English,2022-06-02,Fiction,None
15,The Left Hand Of Darkness,Ursula K. Le Guin,4.0,147.0,NaN,None,"A Groundbreaking Work Of Science Fiction, The ...",Ace,334.0,English,1987-03-15,Fantasy,None
72,Plutarch'S Lives,Plutarch,NaN,NaN,NaN,None,None,None,644.0,English,1914,Biography,None
73,A New General Biographical Dictionary,Hugh James Rose,NaN,NaN,NaN,None,None,None,526.0,English,1853,Biography,None
76,The Narrative Study Of Lives,"Amia Lieblich', 'Ruthellen Josselson",NaN,NaN,NaN,None,The Narrative Approach Is A Relevant And Enric...,Sage,269.0,English,1997-05-31,Biography,9780761903253
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4351,"Maison Ikkoku, Vol. 7 (1St Edition)",Rumiko Takahashi,NaN,NaN,NaN,None,Graphic Novel. The Residents Of Maison Ikkoku ...,Maison Ikkoku,190.0,English,1997-08-08,Comics & Graphic Novels - Romance,None
4352,Uncanny X-Force,Rick Remender,NaN,NaN,NaN,None,None,None,112.0,English,2012,Comics & Graphic Novels - Science Fiction,None
4354,Uncanny X-Force,Rick Remender,NaN,NaN,NaN,None,None,None,112.0,English,2012,Comics & Graphic Novels - Western,None
4355,Zane Grey Stories In Picture Strips,Zane Grey,NaN,NaN,NaN,None,None,None,4.0,English,None,Comics & Graphic Novels - Western,None
4356,The Merriam-Webster And Garfield Dictionary,Merriam-Webster,5.0,3.0,NaN,None,... Combines The Text Of A Merriam-Webster Dic...,Merriam-Webster,818.0,English,1999,Comics & Graphic Novels - Western,9780877796268